#add-data {
    layout: horizontal;
    height: 4;
}

#add-url-text {
    layout: horizontal;
    height: 2;
    padding-left: 1;
}

#add-new-name {
    width: 20%;
}
#add-new-url {
    width: 80%;
}
#submit-add-data {
    layout: horizontal;
    padding-left: 1;
    height: 5;
}

#input_data_error {
      color: red;
}
